%script{src: 'Chart.bundle.js'}
%script{src: 'jquery.min.js'}

%canvas#uptime-chart(width="400" height="400")

:javascript
  $.get('/api/last_seven_days', function(data) {
   uptimeChart(JSON.parse(data));
  });

  var ctx = document.getElementById('uptime-chart');

  function uptimeChart(data) {
    var uptimeChart = new Chart(ctx, {
      type: 'bar',
      data: {
        labels: data.labels,
        datasets: [{
          label: 'Uptime percentage',
          data: data.data
        }]
      },
      options: {
        scales: {
          yAxes: [{
            type: 'linear',
            ticks: {
              beginAtZero: true
            }
          }]
        }
      }
    });
  }
